@model IList<moon_album.Models.ImageInfo>
@{
    //ViewBag.Title = "Album";
}

<div class="back-to-home btn-circle">
    <a href="/Admin/InsertImage/@ViewBag.Category_id"><span></span><em>新增照片</em></a>
</div>
<div class="container-fluid" id="fh5co-image-grid">


    <div class="grid">
        <div class="grid-sizer"></div>
        @foreach (var item in @Model)
        {
            string LinkString = "";
            string LinkClass = "";
            <div class="grid-item item animate-box" data-animate-effect="fadeIn">
               @{                    
                   LinkString = String.Format("http://www.moon88.url.tw/upload/{0}/{1}/{2}",ViewBag.Category_id, @Url.RequestContext.RouteData.Values["id"], @item.File_Name);
                   LinkClass = "image-popup";
                }
                <a href="@LinkString" class="@LinkClass">
                    <div class="img-wrap">
                        <img src="@(String.Format("http://www.moon88.url.tw/upload/{0}/{1}/thumb/{2}",ViewBag.Category_id,@Url.RequestContext.RouteData.Values["id"],@item.File_Name))" alt="" class="img-responsive">
                    </div>
                    <div class="text-wrap">
                        <div class="text-inner">
                            <div>
                                <h2>@item.Image_Name</h2>
                                <span>
                                   +點擊放大圖片
                                </span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        }
    </div>
</div>
